
.label-title{
    font-family: 'Century Gothic';
    font-size:15px;
}

img{
    margin:2vw auto 1vw;
    display:block;
}


.name-page{
    background-color: #7C45C5;
    width:20vw;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
    top:5.6vh;
    left:0;
    z-index:10000;
}
.name-page span{
    display:block;
    text-align:center;
    font-family:Archive;
    color:white;
    font-size:1.75rem;
}

.error-submit{
    margin-top:-1.2em;
    margin-bottom: -1em;
}
.displayNone{
    display:none;
}
#error-submit{
    min-height: 0.5em;
    max-height: 0.5em;
}