.content{
    background-color: #A72036;
    font-family: MyArchive;
    font-size: 32px;
    color: white;
    min-width: 620px;
    min-height: 90px;
    display: flex;
    align-items: center;
    padding-left: 45px !important;
    padding-right: 45px !important;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 15px;
}
.content:hover{
    transition: .2s;
    box-shadow: 0px 2px 7px 3px rgba(167, 32, 54, 0.51);
    cursor: pointer;
}
.element{
    display: flex;
    align-items: center;
}
.flex_start{
    justify-content: flex-start;
}
.flex_end{
    justify-content: flex-end;
}