.content{
}

.row{
    align-items: flex-start;
}
.input{
    margin-left: 15px;
    width: 49% !important;
}
.margin_input_top{
    margin-top: 26px !important;
}
.margin_text{

}
.text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Century Gothic";
    font-size: 24px;
    font-weight: 400;
    margin-top:4px !important;
}

.errorButton{
    display:block;
    color:red;
}

.btnAuto button{
    font-family: "Century Gothic", serif;
    font-size: 18px;
    margin-top:8px;
}

.rowBtn{
    margin-top:3em !important;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}


.textSubtitle{
    display: flex;
    color:lightgray !important;
}
.borderUnderText{
    width: 83%  ;
}
.borderUnderText hr{
    border: none;
    border-top: 3px solid gray;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 0rem;
}