.component{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    display: block;
    position: absolute;
    background-color: #A72036;
    border-radius: 50%;
    min-height: 90px;
    min-width: 90px;
    left: 117px;
    top:39%;
}
.up{
    margin-left: 44px;
}
.down{
    margin-left: 20px;
}
.component img{
    display: block;
    margin-top: 1.9vh;
    margin-right: auto;
    width: 38px;
    height: 55px;
}
.component span{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
    position: relative;
    top:-18px;
}
