.content{
    margin-top:12vh;
    display: flex;
    align-items: center;
    flex-direction:column;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.head img{
    width: 240px;
    height: 101px;
    position: fixed;
    top:20px;
    right:50px;
}
.head select{
    border: 1.5px solid #A72036;
    width: 450px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    font-family: "Century Gothic";
    font-size: 20px;
    margin-top: 70px;
}
.container{
    width: 89%;
    margin-top:5vh;
    margin-left: auto;
    margin-right: auto;
}

.selectType {
    --radius: 10px;
    --baseFg: #A72036;
    --baseBg: #A72036;
    --accentFg: #A72036;
    --accentBg: #A72036;
    --a:0px;
    --b: 30px;
    --c: 38px;
    --d: 30px;
    --e: 38px;
    --f: 30px;
}

.none{
    display:none;
}



