.content{
    margin-top:12vh;
    display: flex;
    align-items: center;
    flex-direction:column;
}
.form{
    margin-top:3vh;
    width:500px;
}
.label-title{
    font-family: 'Century Gothic';
    font-size:15px;
}
.form-group{
    position: relative;
    margin-bottom:25px;
}
.form-group .textInput:focus{
    outline: 0;
    outline-offset: 0;
}
.form-group .textInput{
    border-radius: 10px;
    border:#A72036 1.8px solid;
    height:3em;
}
.label-title{
    position: absolute;
    background: white;
    padding: 1px;
    left: 15px;
    top: -13px;
    color:#A72036;
    width:auto;
}
img{
    margin:2vw auto 1vw;
    display:block;
}
.error-input{
    color:red;
    font-size:16px;
    display:block;
    margin-left:20px;
}
.btn-in{
    font-size: 18px;
    display:block;
    color:white;
    border:#A72036 1px solid;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    padding: 0;
    font-family: var(--bs-btn-font-family);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: #A72036;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height:3em;
    border-radius: 10px;
    flex-grow:6;
    margin-right:20px;
}
.btn-in:hover{
    box-shadow: 2px 6px 20px 2px rgba(34, 60, 80, 0.2);
    cursor:pointer;
}
.button{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.error-button{
    display:block;
    color:red;
}
.btn-reg:hover{
    color:white;
    background: gray;
    box-shadow: 2px 6px 20px 2px rgba(34, 60, 80, 0.2);
}
.btn-reg{
    padding-top:13px;
    flex-grow:1;
    border-radius: 10px;
    font-size:18px;
    display:block;
    color:white;
    border:gray 1px solid;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    font-family: var(--bs-btn-font-family);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: white;
    color:gray;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height:3em;
}
.name-page{
    background-color: #7C45C5;
    width:20vw;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
    top:5.6vh;
    left:0;
    z-index:10000;
}
.name-page span{
    display:block;
    text-align:center;
    font-family:Archive;
    color:white;
    font-size:1.75rem;
}

.image-login{
    margin-bottom: 6vh;
}
.error-submit{
    margin-top:-1.2em;
    margin-bottom: -1em;
}
.displayNone{
    display:none;
}
#error-submit{
    min-height: 0.5em;
    max-height: 0.5em;
}