.content{
    background-color: #A72036;
    font-family: MyArchive;
    font-size: 18px;
    color: white;
    min-width: 335px;
    min-height: 35px;
    display: flex;
    align-items: center;
    padding-left: 30px !important;
    padding-right: 15px !important;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 8px;
    cursor: pointer;
}
.content:hover{
    transition: .2s;
    box-shadow: 0px 2px 7px 3px rgba(167, 32, 54, 0.51);
}
.element{
    display: flex;
    align-items: center;
}
.element img{
    width: 26px;
    height: auto;
}
.flex_start{
    justify-content: flex-start;
}
.flex_end{
    justify-content: flex-end;
}