.not_accept{
    background-color: rgba(206, 18, 18, 0.1);
}
.accept{

}
.btnAccept{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.checkBox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flex_end{
    display: flex;
    justify-content: flex-end;
}
.flex_center{
    display: flex;
    justify-content: center;
}
.flex_start{
    display: flex;
    justify-content: flex-start;
}
.align_center{
    align-content: center;
}
.padding_right_null{
    padding-right: 0 !important;
}
.text{
    font-size: 24px;
}
.content{
    padding-top: 0.4vh !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-bottom: 0.6vh !important;
}

.sizeCheckbox{
    font-size: 16px;
}
.textOverflow{
    max-width: 20vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.border{
    border:1px solid black;
}
.attributeHintCross{
    width: 145px;
    margin-left: -72px;
}
.attributeHintHistory{
    width: 145px;
    margin-left: -72px;
}
.attributeHintInformation{
    width: 190px;
    margin-left: -97px;
}
.attributeCross{
    width: 19px;
    height: auto;
}
.attributeHistory{
    width: 30px !important;
    height: auto;
}
.attributeInformation{
    width: 25px !important;
    height: auto;
    margin-left: 2px;
    margin-right: 5px;
}
.marginTop{
    margin-top: 5px !important;
}
.buttons_close{
    justify-content: space-around;
}