.content{
    max-height: 70%;
}
.element{
    min-height: 26px;
    min-width: 1168px;
    background-color: rebeccapurple;
}
.buttons_close{
    display: flex;
    margin-top: 2vh;
}
.buttonBack{
    display: flex;
    justify-content: flex-end;
}
.buttonNext{
    display: flex;
    justify-content: flex-start;
}
.list{
    min-height: 66vh;
    min-width: 90%;
}

.tooltip {
    position: relative;
    display: inline-block;
}
