.content{
}

.row{
    align-items: flex-start;
}
.input{

}
.text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Century Gothic";
    font-size: 24px;
    font-weight: 400;
    margin-top:4px !important;
}

.errorButton{
    display:block;
    color:red;
}

.btnAuto button{
    font-family: "Century Gothic", serif;
    font-size: 18px;
    margin-top:8px;
}
.none{
    display: none;
}

.rowBtn{
    margin-top:3em !important;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
