.content{
    min-width: 26px;
    min-height: 26px;
}
.content :hover{
    cursor: pointer;
}
.attributeHint{
    width: 280px !important;
    margin-left: -140px !important;
    bottom: 120% !important;
}